[access]
	inheritFrom = All-Projects
[project]
	description = Prerelease images smoke testing system.
[access "refs/*"]
	owner = group user/Łukasz Wojciechowski (lukaszwojciechowski)
[access "refs/for/refs/*"]
	read = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	push = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	label-Code-Review = -2..+2 group user/Łukasz Wojciechowski (lukaszwojciechowski)
	label-Verified = -1..+1 group user/Łukasz Wojciechowski (lukaszwojciechowski)
	rebase = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	removeReviewer = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	submit = group user/Łukasz Wojciechowski (lukaszwojciechowski)
[access "refs/heads/*"]
	read = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	create = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	push = +force group user/Łukasz Wojciechowski (lukaszwojciechowski)
	pushMerge = group user/Łukasz Wojciechowski (lukaszwojciechowski)
[access "refs/tags/*"]
	push = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	push = +force group user/Łukasz Wojciechowski (lukaszwojciechowski)
